@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Lato&family=Roboto&display=swap');

:root {
  --primary: #FF6060;
}

body {
  font-family: "Monserrat", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1440px;
  margin: auto;
  min-height: calc(100.8vh - 300px);

  @media screen and (max-width: 1475px) {
    margin: auto 10px;
  }

  @media screen and (max-width: 480px) {
    min-height: calc(101.2vh - 300px);
  }
}

.active {
  border-bottom: 2px solid red;
}