@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Lato&family=Roboto&display=swap');

:root {
  --primary: #FF6060;
}

.container {
  max-width: 1440px;
  margin: auto;
  font-family: "Monserrat", Arial, Helvetica, sans-serif;
}