.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 80px;
    mix-blend-mode: darken;

    img {
        border-radius: 25px;
        max-height: 220px;
        object-fit: cover;
        width: 100%;
        filter: brightness(75%);

        @media screen and (max-width: 768px) {
            border-radius: 10px;
        }
    }

    .caption {
        position: absolute;
        top: 37%;
        color: white;
        font-size: 48px;

        @media screen and (max-width: 768px) {
            font-size: 24px;
            
        }
    }
}